body
{
    font-family: 'Allerta';
    margin: 0;
}
.titulo
{
    font-family: 'Montserrat';
    font-size: 70px;
    margin-bottom: 0px;
    margin-top:70px; 
}

.titulo span 
{
    text-decoration: underline;
}

.title-a
{
    font-size: 24px;
    margin-top: 0;
}

.title-b
{
    font-size: 50px;
    margin-bottom: 20px;
}

.guitarras h2
{
    font-size: 35px;
    font-family: 'Montserrat';
}

.background
{
    background: url("../img/background.png") center no-repeat;
    background-size:cover;
}

.portada
{
    color: #fff;
    padding: 20px;
    height:500px;
}

 .boton
{
    border:none;
    border-radius: 12px;
    background:linear-gradient(to left,#fd324e, #ff7250);
    color: #fff;
    padding: 7px 12px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

.guitarras
{
    color: #1F313C;
    margin-bottom: 10% !important;
}

.menu
{
    font-size: 24px;
    display: inline-block;
    position: absolute;
    right: 0;
}

.menu a
{
    color: white;
    text-decoration: none;
}

.menu li 
{
    display: inline-block;
    margin-left: 30px;
}

.menu li:before
{
    content:'°';
    font-size:20px;
    line-height: 10px;
    color:white;
}

.logotipo
{
    display:inline-block;
    margin-left:0;
}

.contenedor
{
    width: 800px;
    margin: auto;
    position: relative;
}

.guitarra
{
    padding: 10px;
    margin: 10px 10px 30px 10px;
    border: 1px solid #1F313C; 
    border-radius: 8px;
}

.guitarra.b 
{
    height: 235px;
}

.guitarra ol 
{
    padding: 0;
}
.derecha
{
    float: right;
    position: relative;
    top: -127px;
}

.izquierda
{
    float: left;
    position:relative;
    top: -100px;
    left: -100px;
}

.contenedor-guitarra-a
{
    padding-left: 20px;
}

.contenedor-guitarra-b
{
    margin-left: 370px;
    position: relative;
    bottom: 50px;
}

.header
{
    position: relative;
}

.footer
{
    background: #273b47;
}

.contacto 
{
    display: flex;
    width:300px;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.contacto img
{
    display:block;
}

.contacto strong 
{
    display: block;
}

.contacto a
{
    color: #fff;
    text-decoration: none;
    margin: 10px 10px 10px 0;
}

.footer .contenedor
{
    display:flex;
    justify-content:space-between;
}

.formulario
{
    display: flex;
    width:400px;
    color: white;
    padding: 50px 10px;
}

.col-1,
.col-2
{
    display: flex;
    flex-direction:column;
}

.col-1
{
    margin-right:30px;
}

.col-2
{
    align-items: flex-start;
}

.col-2 textarea
{
    margin-bottom: 10%;
}

.intereses label
{  
    font-size: 16px;
}

.formulario label,
.sexo,
.intereses
{
    margin-bottom: 10px;
}

.sexo
{
    margin-top: 10px;
}

table
{
    width:100%;
    margin: 20% auto;
}

th
{
    background: #273b47;
    color: white;
    padding:20px;
    text-align: left;
}

td
{
    padding: 20px;
}

table,
td,
th
{
    border: 1px solid #273b47;
    border-collapse: collapse;
}

input,
textarea
{
    outline: none;
}

input:focus,
textarea:focus
{
    background: lightgray;
}
